.item-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;

    img {
        margin: 10px;
        max-height: 120px;
        border-radius: 10px;
    }

    .item-info {

        h2 {
            cursor: pointer;
        }

        .badge {
        padding: 2px 10px;
        border-radius: 14px;
        color: white;

            &__alcoholic {
                background-color: blue;
            }

            &__non-alcoholic {
                background-color: green;
            }
        }
    }
}