<div class="item-container">
    <img [src]="cocktail.imageUrl">
    <div class="item-info">
        <h2  [routerLink]="['/', cocktail.id]">{{ cocktail.name }}</h2>
            <mat-icon class="icon-star" [id]="'star-' + cocktail.id" appFavoriteIcon>star</mat-icon>
        @if (cocktail.isAlcoholic) {
        <span class="badge badge__alcoholic">Alcoholic</span>
        } 
        @else {
        <span class=" badge badge__non-alcoholic">Non alcoholic</span>
        }
        <p>{{ cocktail.ingredientsString }}</p>
    </div>
</div>
